@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
body {
  font-family: 'Roboto Mono', monospace;

}

p {
  display: inline-block;
  border: 4px dashed pink;
  padding: 16px;
  margin: 32px;
}
